
@{
    ViewBag.Title = "Donations";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    List<Project_Ngo.Models.Entities.Donation> don = new List<Project_Ngo.Models.Entities.Donation>();
    if (ViewBag.donation != null) { don = ViewBag.donation; }
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type='text/css'>
        #numbered-table {
            counter-reset: rowNumber; /* Reset counter for each table */
        }

            #numbered-table tbody tr {
                counter-increment: rowNumber; /* Increment counter for each row */
            }

                #numbered-table tbody tr td:first-child::before {
                    content: counter(rowNumber); /* Display row number */
                    min-width: 1em; /* Ensure space for at least one digit */
                    margin-right: 0.5em; /* Add some spacing between number and content */
                }
    </style>
</head>
<body>

    <div>
        <table class="table table-striped" width="700" border="1" id="numbered-table">
            <thead>
                <tr>
                    <th>stt</th>
                    <th>Amount</th>
                    <th>Donation Date</th>
                    <th>Payment method</th>
                    <th>Status</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Project_Ngo.Models.Entities.Donation item in don)
                {
                    <tr>
                        <td>
                        </td>
                        <td>
                            @item.Amount
                        </td>
                        <td>
                            @item.DonationDate
                        </td>
                        <td>
                            @item.PaymentMethod\
                        </td>
                        <td>
                            @item.Status
                        </td>
                        <td>
                            @item.Note
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
        <div class="mdc-card p-0">
            <h6 class="card-title card-padding pb-0"></h6>
            <div class="table-responsive">
                <form action="@Url.Action("AddDonation")" method="post" enctype="multipart/form-data">

                    <div class="mdc-layout-grid">
                        <div class="mdc-layout-grid__inner">
                            <div class="mdc-layout-grid__cell--span-12">
                                <div class="mdc-card">
                                    <h6 class="card-title">Add Product</h6>
                                    <div class="template-demo">
                                        <div class="mdc-layout-grid__inner">
                                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                                                <div class="mdc-text-field mdc-text-field--outlined">
                                                    <input class="mdc-text-field__input" id="Amount" name="Amount">
                                                    <div class="mdc-notched-outline">
                                                        <div class="mdc-notched-outline__leading"></div>
                                                        <div class="mdc-notched-outline__notch">
                                                            <labe for="text-field-hero-input" class="mdc-floating-label">Amount</labe>
                                                        </div>
                                                        <div class="mdc-notched-outline__trailing"></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                                                <div class="mdc-text-field mdc-text-field--outlined">
                                                    <input class="mdc-text-field__input" id="DonationDate" name="DonationDate">
                                                    <div class="mdc-notched-outline">
                                                        <div class="mdc-notched-outline__leading"></div>
                                                        <div class="mdc-notched-outline__notch">
                                                            <labe for="text-field-hero-input" class="mdc-floating-label">DonationDate</labe>
                                                        </div>
                                                        <div class="mdc-notched-outline__trailing"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                                                <div class="mdc-text-field mdc-text-field--outlined">
                                                    <input class="mdc-text-field__input" id="PaymentMethod" name="PaymentMethod">
                                                    <div class="mdc-notched-outline">
                                                        <div class="mdc-notched-outline__leading"></div>
                                                        <div class="mdc-notched-outline__notch">
                                                            <labe for="text-field-hero-input" class="mdc-floating-label">PaymentMethod</labe>
                                                        </div>
                                                        <div class="mdc-notched-outline__trailing"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                                                <div class="mdc-text-field mdc-text-field--outlined">
                                                    <input class="mdc-text-field__input" id="Status" name="Status">
                                                    <div class="mdc-notched-outline">
                                                        <div class="mdc-notched-outline__leading"></div>
                                                        <div class="mdc-notched-outline__notch">
                                                            <labe for="text-field-hero-input" class="mdc-floating-label">Status</labe>
                                                        </div>
                                                        <div class="mdc-notched-outline__trailing"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                                                <div class="mdc-text-field mdc-text-field--outlined">
                                                    <input class="mdc-text-field__input" id="Note" name="Note">
                                                    <div class="mdc-notched-outline">
                                                        <div class="mdc-notched-outline__leading"></div>
                                                        <div class="mdc-notched-outline__notch">
                                                            <labe for="text-field-hero-input" class="mdc-floating-label">Note</labe>
                                                        </div>
                                                        <div class="mdc-notched-outline__trailing"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mdc-layout-grid__inner">
                                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                                                <div class="mdc-text-field mdc-text-field--outlined">
                                                    <button class="mdc-text-field mdc-text-field--outlined">
                                                        Save
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

</body>
</html>


