@model List<Project_Ngo.Models.Entities.Users>

@{
    ViewBag.Title = "Users";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type='text/css'>
        #numbered-table {
            counter-reset: rowNumber; /* Reset counter for each table */
        }

            #numbered-table tbody tr {
                counter-increment: rowNumber; /* Increment counter for each row */
            }

                #numbered-table tbody tr td:first-child::before {
                    content: counter(rowNumber); /* Display row number */
                    min-width: 1em; /* Ensure space for at least one digit */
                    margin-right: 0.5em; /* Add some spacing between number and content */
                }

        /* CSS cho hover effect */
        tr:hover {
            cursor: pointer;
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
    <div>
        <table class="table table-striped" width="700" border="1" id="numbered-table">
            <thead>
                <tr>
                    <th>stt</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    // Kiểm tra nếu typeUser không phải là 1 thì hiển thị dòng người dùng
                    if (user.typeUser.HasValue && user.typeUser.Value == false)
                    {
                        <tr>
                            <td></td>
                            <td><a href="@Url.Action("DonationDetails", "Admin", new { userId = user.UserID })">@user.FullName</a></td>

                            <td>@user.Email</td>
                            <td>@user.Phone</td>
                        </tr>
                    

                }
            }
                </tbody>
            </table>
    </div>

    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
        <div class="mdc-card p-0">
            <h6 class="card-title card-padding pb-0"></h6>
            <div class="table-responsive">
                <form action="@Url.Action("AddAdmin")" method="post" enctype="multipart/form-data">
                    <!-- Nội dung form thêm User -->
                </form>
            </div>
        </div>
    </div>

    <!-- Bổ sung CSS hoặc JavaScript tại đây nếu cần -->

</body>
</html>
