
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Plant Place</title>
    <link rel="icon" href="asset/img/core-img/favicon.ico">
    <link rel="stylesheet" href="~/Content/asset/style.css">
    <link rel="stylesheet" href="~/Content/asset/css/style.css">
</head>

<body>
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-circle"></div>
        <div class="preloader-img">
            <img src="~/Content/asset/img/bg-img/icon.jpg" alt="">
        </div>
    </div>
    <header class="header-area">
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">

                            <div class="top-header-meta">
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="loi0603lois@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>Email: loi0603lois@gmail.com</span></a>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="+84 386305804"><i class="fa fa-phone" aria-hidden="true"></i> <span>Call Us: +84 386305804</span></a>
                            </div>

                            <div class="top-header-meta d-flex">

                                <div class="language-dropdown">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle mr-30" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language</button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">English</a>
                                            <a class="dropdown-item" href="#">UK</a>
                                            <a class="dropdown-item" href="#">Chinese</a>
                                            <a class="dropdown-item" href="#">Hindi</a>
                                            <a class="dropdown-item" href="#">Spanish</a>
                                            <a class="dropdown-item" href="#">Vietnamese</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="login">
                                    @if (Session["Username"] == null)
                                    {
                                        <a href="@Url.Action("Login", "User")"><i class="fa fa-user" aria-hidden="true"></i> <span>Login</span></a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Welcome", "User")"><i class="fa fa-user" aria-hidden="true"></i> <span>Welcome, @Session["Username"]</span></a>
                                    }
                                </div>

                                <div class="login register">
                                    @if (Session["Username"] == null)
                                    {
                                        <a href="@Url.Action("Register", "User")"><i class="fa fa-user" aria-hidden="true"></i> <span>Register</span></a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Account", "User", new { UserID = Session["UserID"] } )"><i class="fa fa-user" aria-hidden="true"></i> <span>Account</span></a>
                                        <a href="@Url.Action("Logout", "User")"><i class="fa fa-sign-out" aria-hidden="true"></i> <span>Logout</span></a>
                                    }
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="alazea-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">

                    <nav class="classy-navbar justify-content-between" id="alazeaNav">


                        <a href="index.html" class="nav-brand"><img src="~/Content/asset/img/core-img/logo1.png" width="90" height="90" alt=""></a>


                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <div class="classy-menu">

                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <div class="classynav">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="@Url.Action("About", "User")">About</a></li>
                                    <li><a href="@Url.Action("Donate", "User")">Donate</a></li>
                                    <li><a href="@Url.Action("Partners", "User")">Our Partners</a></li>
                                    <li><a href="@Url.Action("HelpCentre", "User")">Help Centre</a></li>
                                    <li><a href="@Url.Action("Contact", "User")">Contact</a></li>
                                </ul>
                                <div id="searchIcon">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>

                            </div>

                        </div>
                    </nav>


                    <div class="search-form">
                        <form action="#" method="get">
                            <input type="search" name="search" id="search" placeholder="Type keywords &amp; press enter...">

                        </form>


                        <div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="hero-area">
        <div class="hero-post-slides owl-carousel">
            <div class="single-hero-post bg-overlay">
                <div class="slide-img bg-img" style="background-image:url('~/Content/asset/img/bg-img/1.jpg');"></div>
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">

                            <div class="hero-slides-content text-center">
                                <h2>Plants exist in the weather and light rays that surround them</h2>

                                <div class="welcome-btn-group">
                                    <a href="#" class="btn alazea-btn mr-30">GET STARTED</a>
                                    <a href="#" class="btn alazea-btn active">CONTACT US</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="single-hero-post bg-overlay">

                <div class="slide-img bg-img" style="background-image: url('~/Content/asset/img/bg-img/2.jpg');" /> >
            </div>
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="hero-slides-content text-center">
                            <h2>Plants exist in the weather and light rays that surround them</h2>

                            <div class="welcome-btn-group">
                                <a href="#" class="btn alazea-btn mr-30">GET STARTED</a>
                                <a href="#" class="btn alazea-btn active">CONTACT US</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-hero-post bg-overlay">

            <div class="slide-img bg-img" style="background-image: url('~/Content/asset/img/bg-img/4a.jpg');"></div>
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">

                        <div class="hero-slides-content text-center">
                            <h2>Plants exist in the weather and light rays that surround them</h2>

                            <div class="welcome-btn-group">
                                <a href="#" class="btn alazea-btn mr-30">GET STARTED</a>
                                <a href="about.html" class="btn alazea-btn active">CONTACT US</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="single-hero-post bg-overlay">
            <div class="slide-img bg-img" style="background-image: url('~/Content/asset/img/bg-img/1a.jpg');"></div>
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">

                        <div class="hero-slides-content text-center">
                            <h2>Plants exist in the weather and light rays that surround them</h2>

                            <div class="welcome-btn-group">
                                <a href="#" class="btn alazea-btn mr-30">GET STARTED</a>
                                <a href="about.html" class="btn alazea-btn active">CONTACT US</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-hero-post bg-overlay">
            <div class="slide-img bg-img" {style="background-image: url('~/Content/asset/img/bg-img/4b.jpg'); }"></div>
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="hero-slides-content text-center">
                            <h2>Plants exist in the weather and light rays that surround them</h2>

                            <div class="welcome-btn-group">
                                <a href="#" class="btn alazea-btn mr-30">GET STARTED</a>
                                <a href="about.html" class="btn alazea-btn active">CONTACT US</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    @RenderBody()
    <footer class="footer-area bg-img" style="background-image: url(~/Content/asset/img/bg-img/3.jpg);">
        <div class="main-footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget">
                            <div class="footer-logo mb-30">
                                <a href="#"><img src="~/Content/asset/img/core-img/logo1.png" alt=""></a>
                            </div>
                            <p></p>
                            <div class="social-info">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>QUICK LINK</h5>
                            </div>
                            <nav class="widget-nav">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="@Url.Action("About", "User")">About</a></li>
                                    <li><a href="@Url.Action("Donate", "User")">Donate</a></li>
                                    <li><a href="@Url.Action("Partners", "User")">Our Partners</a></li>
                                    <li><a href="@Url.Action("HelpCentre", "User")">Help Centre</a></li>
                                    <li><a href="@Url.Action("Contact", "User")">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget">



                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>CONTACT</h5>
                            </div>

                            <div class="contact-information">
                                <p><span>Address:</span> 35/6 D5 Binh Thanh HCM city</p>
                                <p><span>Phone:</span> +84 865 257 858</p>
                                <p><span>Email:</span> khangdy38@gmail.com</p>
                                <p><span>Open hours:</span> Mon - Sun: 8 AM to 9 PM</p>
                                <p><span>Happy hours:</span> Sat: 2 PM to 4 PM</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="border-line"></div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="copywrite-text">
                            <p>
                                &copy;
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="footer-nav">
                            <nav>
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Service</a></li>
                                    <li><a href="#">Portfolio</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/Content/asset/js/jquery/jquery-2.2.4.min.js"></script>

    <script src="~/Content/asset/js/bootstrap/popper.min.js"></script>

    <script src="~/Content/asset/js/bootstrap/bootstrap.min.js"></script>

    <script src="~/Content/asset/js/plugins/plugins.js"></script>

    <script src="~/Content/asset/js/active.js"></script>


</body>

</html>
