
@{
    ViewBag.Title = "Donations";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    List<Project_Ngo.Models.Entities.Donations> don = new List<Project_Ngo.Models.Entities.Donations>();
    if (ViewBag.donations != null) { don = ViewBag.donations; }
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type='text/css'>
        #numbered-table {
            counter-reset: rowNumber; /* Reset counter for each table */
        }

            #numbered-table tbody tr {
                counter-increment: rowNumber; /* Increment counter for each row */
            }

                #numbered-table tbody tr td:first-child::before {
                    content: counter(rowNumber); /* Display row number */
                    min-width: 1em; /* Ensure space for at least one digit */
                    margin-right: 0.5em; /* Add some spacing between number and content */
                }
    </style>
</head>
<body>

    <div>
        <table class="table table-striped" width="700" border="1" id="numbered-table">
            <thead>
                <tr>
                    <th>stt</th>
                    <th>Campaign ID</th>
                    <th>Amount</th>
                    <th>Donation Date</th>
                    <th>Payment method</th>
                    <th>Status</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Project_Ngo.Models.Entities.Donations item in don)
                {
                    <tr>
                        <td>
                        </td>
                        <td>
                            @item.CampaignsID
                        </td>
                        <td>
                            @item.Amount
                        </td>
                        <td>
                            @item.DonationDate
                        </td>
                        <td>
                            @item.PaymentMethod
                        </td>
                        <td>
                            @item.Status
                        </td>
                        <td>
                            @item.Note
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    

</body>
</html>

