
@{
    ViewBag.Title = "Account";
    Layout = "~/Areas/User/Views/Shared/_Layout_Project.cshtml";
}


<style>
    .info-form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="file"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    button {
        display: block;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        margin-bottom: 10px;
    }

        button:hover {
            background-color: #0056b3;
        }
</style>

<div class="info-form">
    <h2>Account Info</h2>
    <form action="@Url.Action("UpdateAccount", "User")" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="fullname">Full Name:</label>
            <input type="text" id="fullname" name="FullName" class="form-control" value="@Model.FullName" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="Email" class="form-control" value="@Model.Email" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="Password" class="form-control" value="@Model.Password" required>
        </div>
        <div class="form-group">
            <label for="phone">Phone:</label>
            <input type="text" id="phone" name="Phone" class="form-control" value="@Model.Phone">
        </div>
        <div class="form-group">
            <label for="image">Image</label>
            <input type="file" id="image" name="image" class="form-control" value="@Model.image">
        </div>
        @if (Session["UserID"] != null)
        {
            <input type="hidden" name="UserID" value="@Session["UserID"]" />
        }
        else if (!string.IsNullOrEmpty(Request.QueryString["UserID"]))
        {
            <input type="hidden" name="UserID" value="@Request.QueryString["UserID"]" />
        }
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>