@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/User/Views/Shared/_Layout_Project.cshtml";
    List<Project_Ngo.Models.Entities.Campaigns> cam = new List<Project_Ngo.Models.Entities.Campaigns>();
    if (ViewBag.campaigns != null)
    {
        cam = ViewBag.campaigns;
    }
}

<body>
    <div>
        @if (Session["Username"] != null)
        {
            <p>Welcome, @(Session["Username"].ToString())!</p>
            <div>
                <table class="table table-striped" width="700" border="1" id="numbered-table">
                    <thead>
                        <tr>
                            <th>stt</th>
                            <th>Name</th>
                            <th>Goal Amount</th>
                            <th>Current Amount</th>
                            <th>Start Date</th>
                            <th>End date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Project_Ngo.Models.Entities.Campaigns item in cam)
                        {
                            <tr>
                                <td>
                                </td>
                                <td>
                                    @item.NameCampaign
                                </td>
                                <td>
                                    @item.GoalAmount
                                </td>
                                <td>
                                    @item.CurrentAmount
                                </td>
                                <td>
                                    @item.StartDate
                                </td>
                                <td>
                                    @item.EndDate
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>


        }
        else
        {
            <h1>Welcome to Our Organization!</h1>
            <p>We are a non-profit organization dedicated to meaningful donation projects. From providing clean water to constructing educational centers, your contributions matter greatly.</p>
            <p>Join us in making a difference!</p>
            <p>For more information about our projects and how to contribute, please visit our website today.</p>
      
        }
    </div>
</body>
